<h2>Rows pattern</h2>

<h3>案例1</h3>
<table qs-table
       data="data1"
       items-per-page="10"
       total-items="totalItems1"
       headers="Name, Eye color, Age,Balance,Company,Home address,Favorite Fruit"
       fields="name,eyeColor,age,balance,company,address,favoriteFruit"
       sorting="compound"
       parent-table="true"
       select="multiply">
    <thead>
    <tr>
        <th></th>
        <th>Name</th>
        <th>Eye color</th>
        <th>Age</th>
        <th>Balance</th>
        <th>Company</th>
        <th>Address</th>
        <th>Favorite Fruit</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><i class="fa" ng-click="$owner.spreadOrNot($event, item)"
               ng-class="{'fa-plus-square':'false'==item.isSpread, 'fa-minus-square':'true'==item.isSpread}"></i></td>
        <td>{{::item.name}}</td>
        <td>{{::item.eyeColor}}</td>
        <td>{{::item.age}}</td>
        <td>{{::item.balance}}</td>
        <td>{{::item.company}}</td>
        <td>{{::item.address}}</td>
        <td>{{::item.favoriteFruit}}</td>
    </tr>
    <tr ng-show="'true'==item.isSpread">
        <td colspan="9">
            <table qs-table
                   data="$parent.$parent.data1[$index].friends"
                   items-per-page="10"
                   total-items="3"
                   headers="name, id"
                   fields="name, id"
                   paging="false"
                   sorting="simple"
                   search="false"
                   child-table="true"
                   select="multiply">
            </table>
        </td>
    </tr>
    </tbody>
</table>
<hr>

<h3>案例2</h3>
<table qs-table
       data="data1"
       items-per-page="10"
       total-items="totalItems1"
       headers="Name, Eye color, Age,Balance,Company,Home address,Favorite Fruit"
       fields="name,eyeColor,age,balance,company,address,favoriteFruit"
       sorting="compound">
    <tbody>
    <tr>
        <td>{{::item.name}}</td>
        <td>{{::item.eyeColor}}</td>
        <td>{{::item.age}}</td>
        <td style="background-color:rgb(212, 255, 227)">{{::item.balance}}</td>
        <td>{{::item.company}}</td>
        <td>{{::item.address}}</td>
        <td>{{::item.favoriteFruit}}</td>
    </tr>
    </tbody>
</table>
<hr>

<h3>案例3</h3>
<table qs-table
       data="data1"
       items-per-page="10"
       total-items="totalItems1"
       headers="Name, Eye color, Home address, Friends"
       fields="name,eyeColor,address,friends">
    <tbody ng-non-bindable>
    <tr>
        <td>{{::item.name}}</td>
        <td>
            <div class="{{::item.eyeColor}} eye"></div>
            {{::item.eyeColor}}
        </td>
        <td>{{::item.address}}</td>
        <td>
				<span ng-if="item.eyeColor=='blue'" ng-repeat="friend in item.friends" class="label label-info friend">
					{{::friend.name}}
				</span>
        </td>
    </tr>
    </tbody>
</table>